.title {
    text-align: center;
}

.new-form {
    max-width: 40%;
    width: 100%;
    margin: auto;
}

.loading {

    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;

}

.loading img {
    width: 100%;
}

.tweets {

    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    text-align: center;
}

.button-container {

    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.button-container #loading2 {
    transition: all .7s ease-in-out;
}