.title {
    text-align: center;
}

.new-form {
    max-width: 40%;
    width: 100%;
    margin: auto;
}

.loading {

    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;

}

.loading img {
    width: 100%;
}